{{ define "layouts/components/flash_messages" }}
  {{ if .SuccessMessage }}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
      <div
        x-data="{ show: true }"
        x-show="show"
        x-init="setTimeout(function() { show = false }, 5000)"
        class="rounded-md bg-success-50 p-4 shadow-sm border border-success-200"
      >
        <div class="flex">
          <div class="flex-shrink-0">
            <i class="ph ph-check-circle text-success-500 text-xl"></i>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-success-800">{{ .SuccessMessage }}</p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button
                @click="show = false"
                type="button"
                class="inline-flex bg-success-50 rounded-md p-1.5 text-success-500 hover:bg-success-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-success-50 focus:ring-success-600"
              >
                <span class="sr-only">Cerrar</span>
                <i class="ph ph-x text-success-500 text-xl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  {{ if .ErrorMessage }}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
      <div x-data="{ show: true }" x-show="show" class="rounded-md bg-danger-50 p-4 shadow-sm border border-danger-200">
        <div class="flex">
          <div class="flex-shrink-0">
            <i class="ph ph-warning-circle text-danger-500 text-xl"></i>
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-danger-800">{{ .ErrorMessage }}</p>
          </div>
          <div class="ml-auto pl-3">
            <div class="-mx-1.5 -my-1.5">
              <button
                @click="show = false"
                type="button"
                class="inline-flex bg-danger-50 rounded-md p-1.5 text-danger-500 hover:bg-danger-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-danger-50 focus:ring-danger-600"
              >
                <span class="sr-only">Cerrar</span>
                <i class="ph ph-x text-danger-500 text-xl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
