/backups/account.txt
/bin/server
/server
/main
/tmp
/backups/CodigoFuenteSistemaPasajes2017
/backups
# /docs
#/consultas_mongo_db
/uploads/pasajes/
/uploads/pases_abordo/
*.pdf
*.log
*.aux
*.toc
*.out
*.png
*.archive.gz
*.zip
*.rar
/tmp_build
/tmp_rebuild
/docs
/consultas_mongo_db
/.dockerignore
/Dockerfile
/docker-compose.yml
/seeder
