{
  "printWidth": 180,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 180
      }
    }
  ]
}
