{
  "printWidth": 130,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html", "*.tmpl", "*.gohtml"],
      "options": {
        "parser": "go-template"
      }
    }
  ],
  "goTemplateBracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "goTemplatePreserveSpace": false
}
