{{ define "catalogos/options_tipos" }} {{ if eq (len .Tipos) 1 }} {{ range .Tipos }}
<option value="{{ .Codigo }}" selected>{{ .Nombre }}</option>
{{ end }}
<script>
  setTimeout(() => {
    document.getElementById("tipo_solicitud_codigo").dispatchEvent(new Event("change", { bubbles: true }));
  }, 50);
</script>
{{ else }}
<option value="" disabled selected>Seleccione Tipo de Solicitud...</option>
{{ range .Tipos }}
<option value="{{ .Codigo }}">{{ .Nombre }}</option>
{{ end }} {{ end }} {{ end }}
