@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    padding: 0;
    margin: 0;
  }
  .no-print {
    display: none;
  }
  .page-break {
    page-break-after: always;
  }
}
body {
  font-family: "Times New Roman", serif;
}
.border-sl {
  border: 1px solid #000;
}
.bg-neutral-custom {
  background-color: #f3f4f6;
}
